{% extends 'base.html' %}

{% block title_head %}
<title>Detealles del Libro</title>
{% endblock title_head %}

{% block h1_header %}
{{libro.titulo}}

{{libro.autor}}
{% endblock h1_header %}

{% block contenido %}
{% if libro.imagen %}
<ul>
    <li>Precio: ${{ libro.precio }}</li>
    <li>Resumen: {{ libro.descripcion }}</li>
    <div class="imagen-libro-container">
        <img src="{{ libro.imagen.url }}" alt="Imagen del libro" class="imagen-libro">
    </div>
    <li>Propietario: {{ libro.propietario.username }}</li>
    <li>Fecha de Creación: {{ libro.fecha_creacion }}</li>
</ul>
{% endif %}
{% endblock contenido %}