{% extends 'base.html' %}

{% block title_head %}
<title>Nosotros</title>
{% endblock title_head %}

{% block h1_header %}
Sobre Nosotros
{% endblock h1_header %}

{% block contenido %}
<p>
    ¡Bienvenidos a nuestra biblioteca virtual!

    En nuestra biblioteca virtual, nos apasiona fomentar el amor por la lectura y el acceso a la información. Con una
    amplia colección de libros digitales, ofrecemos a nuestros clientes una experiencia única y enriquecedora en el
    mundo de la literatura.

    Nuestro objetivo principal es brindar un espacio inclusivo y accesible para todos los amantes de la lectura. Ya sea
    que estés buscando un clásico atemporal, una novela contemporánea, un libro académico o una emocionante historia de
    ficción, aquí encontrarás una amplia variedad de opciones para satisfacer tus gustos e intereses.

    Nos enorgullece ofrecer una plataforma intuitiva y fácil de usar, que te permitirá navegar por nuestras estanterías
    virtuales y descubrir tesoros literarios sin límites geográficos ni restricciones de horario. Además, nuestra
    biblioteca virtual está disponible en múltiples dispositivos, para que puedas disfrutar de tus libros favoritos en
    cualquier momento y lugar.
</p>
{% endblock contenido %}